data/SeqFISH_(CNA_and_Tx)/MMRF_CoMMpass_IA21_exome_gatk_cna_seqFISH.tsv
data/SeqFISH_(CNA_and_Tx)/MMRF_CoMMpass_IA21_genome_gatk_cna_seqFISH.tsv
data/SeqFISH_(CNA_and_Tx)/MMRF_CoMMpass_IA21_genome_tumor_only_mm_igtx_pairoscope.tsv
data/Structural_Event_Files/MMRF_CoMMpass_IA21_genome_delly.tsv
data/Structural_Event_Files/MMRF_CoMMpass_IA21_genome_manta.tsv
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_exome_gatk_cna_PerGene_LargestOverlap.tsv
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_exome_gatk_cna.seg
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_exome_gatk_cna_PerGene_LowestMean.tsv
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_genome_gatk_cna_PerGene_LargestOverlap.tsv
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_genome_gatk_cna_PerGene_LowestMean.tsv
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_genome_gatk_cna.seg
data/Copy_Number_Estimates/MMRF_CoMMpass_IA21_genome_ichorCNA.seg
